In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns',None)

In [5]:
df=pd.read_excel("/Users/PC/Data/messy-data.xlsx")

In [6]:
df.drop('Unnamed: 0',inplace=True, axis=1)

In [7]:
df.columns=df.iloc[1]
df.head()

1  Month, period  Lake Victoria    Simiyu
0            NaN            NaN       NaN
1  Month, period  Lake Victoria    Simiyu
2  Jan,2001-2019        3.176mm  2.908474
3  Feb,2001-2019        3.477mm     1.8mm
4  Mar,2001-2019       4.687053  2.981053

In [8]:
#dropping the null values to avert errors
df.dropna(inplace=True)

In [9]:
#To replace the mm values in the column apiece
df['Lake Victoria']=df['Lake Victoria'].replace(['3.176mm',"3.477mm"], ['3.176','3.477'])
df['Simiyu']=df['Simiyu'].replace(['1.8mm'],['1.8'])

In [10]:
#reename a column
df.rename(columns={'Month, period': 'Month', 'Lake Victoria': 'Victoria'}, inplace=True)

In [11]:
#split the first column
df[['Month', 'Period']] = df['Month'].str.split(',', 1, expand=True)

In [12]:
#to drop the first row
df.drop([1], axis=0, inplace=True)

In [13]:
#convert each value to float
df['Victoria'] = pd.to_numeric(df['Victoria'])
df['Simiyu'] = pd.to_numeric(df['Simiyu'])

In [14]:
#rounding up the column values
df["Simiyu"].round(decimals=1)

2     2.9
3     1.8
4     3.0
5     4.8
6     4.1
7     1.0
8     0.2
9     0.3
10    1.2
11    2.5
12    3.1
13    3.9
Name: Simiyu, dtype: float64

In [15]:
print(df)

1  Month  Victoria    Simiyu     Period
2    Jan  3.176000  2.908474  2001-2019
3    Feb  3.477000  1.800000  2001-2019
4    Mar  4.687053  2.981053  2001-2019
5    Apr  7.004526  4.753579  2001-2019
6    May  9.362789  4.077474  2001-2019
7    Jun  3.430211  1.046947  2001-2019
8    Jul  1.764421  0.195211  2001-2019
9    Aug  2.812632  0.333632  2001-2019
10   Sep  3.978895  1.205842  2001-2019
11   Oct  5.318421  2.454737  2001-2019
12   Nov  5.118474  3.091421  2001-2019
13   Dec  4.168105  3.890053  2001-2019